body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  /* background-color: aliceblue; */
  background-image: url("../public/Web 19201.png");
}

h1 {
margin: 0;
margin-bottom: 1rem;
color: #EEEAEA;
margin-top: 5rem;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em; 
  background-color: #E3E3E3
}

select {
  margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  color: #EEEAEA ;
}

img {
  width: 10em;
  height: 10em;
}

.wrapper {
  
  width: 20rem;
  height: 20rem;
  background-image: linear-gradient(to bottom right, #465251, #6caeab);
  border-radius: 0.5rem;
  
 
}
